
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    font-family: "Mulish", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    
}
.primary{
    color: rgb(19, 19, 24);
}
.nav-design{
   
    max-width: 1160px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.nav-two{
    display: flex;
    align-items: center;
    gap: 20px;
}
.explore-container{
     max-width: 1160px;
    margin: 0 auto;
    margin-top: 50px;
    background-image:linear-gradient(180deg,rgba(19,19,24,.8)0%,rgba(19,19,24,0)100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px;
    border-radius: 5px;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}
.explore-container h1{
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 800px;

}
.explore-container p{
    color: rgb(255, 255, 255);
    margin-top: 20px;
}
.input-box{
     margin-top: 20px;
    background-color:rgba(255,255,255,0.2);
    padding: 20px;
    backdrop-filter: blur(4px);
    border-radius: 8px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    gap: 10px;
}
input,select{
      padding: 10px 20px;
    border-radius: 5px;
    border: none;
}
.btn{
    background-color: rgb(255, 84, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
.tour-container{
    max-width: 1170px;
    margin: 0 auto;
    margin-top:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.tour-text-container h1{
  color: rgb(19, 19, 24);
  font-size: 40px;
  font-weight: 800;
}
.tour-text-container p{
    color: rgba(19, 19, 24, 0.7);
    margin-top: 20px;
    line-height: 30px;
    margin-bottom: 20px;
}
.tour-text-container ul li{
    margin-top: 20px;
    color: rgba(19, 19, 24, 0.7);
    margin-left: 20px;
    line-height: 30px;
    margin-bottom: 20px;
}
.destination-container{
    max-width: 1170px;
    margin: 0 auto;
}
.destination-text-conatiner{
    text-align: center;
    margin-top: 50px;
}
.destination-text-conatiner h2{
    color: rgb(19, 19, 24);
    font-size: 40px;
    font-weight: 800;
}
.destination-text-conatiner p{
    color: rgba(19, 19, 24, 0.7);
    margin-top: 30px;
    line-height: 30px;
}
.row-1,.row-2,.row-3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 40px 0;
    gap: 16px;
   
}
.county-card{
   
    position: relative;
}
.county{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
     transform: translate(-50%,-50%);
}
.destination-container img{
    width: 100%;
    height: 300px;
    filter: brightness(70%);
}
.row-2{
 
    grid-template-columns: 0.80fr 1.5fr 0.7fr;


}
.row-3{
grid-template-columns: .75fr 1.25fr;
}

.deals-main-container{
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
      
    
}
.deals-main-container h1{
    color: rgb(19, 19, 24);
    font-size: 40px;
    font-weight: 800;
}
.deals-main-container p{
    color: rgba(19, 19, 24, 0.7);
    margin-top: 20px;
    line-height: 30px;
}
.deals-main{
    position: relative;
}
.deals-container{
    background-image: url(../Images/Group\ 39.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
    width: 100%;
    height: 400px;
  
}
.deals-card{
    width: 550px;
    height: 300px;
    background-color: rgb(255, 255, 255,0.6);
    position: absolute;
    top: 12%;
    left: 50%;
    backdrop-filter:blur(3px);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;  
    padding: 20px;
     
}
.deals-main h2{
 margin-right: 280px;
 margin-top: 20px;
}
.deals-main h4{
    margin-top: 20px;
    color: rgb(255, 84, 0);
    margin-right: 290px;

}
.design{
    margin-top: 20px;
    margin-right: 340px;
}
.icon-container{
    display: flex;
    text-align: left;
    gap: 30px;
    margin-right: 100px;
}
.fa-solid {
    color: rgb(255, 84, 0);
}
.two{
  left: 4%;  
}